<html>
    <head>
        {{>header}}
    </head>
    <body>
        <ul>
            <li>Ativo: {{data.symbol}}</li>
            <li>Abertura: {{data.price_open}}</li>
            <li>Preço: {{data.price}}</li>
            <li>Máximo: {{data.day_high}}</li>
            <li>Mínimo: {{data.day_low}}</li>
        </div>

        {{>footer}}
        <script src="../js/app.js"></script>
    </body>
</html>